@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --primary-text-color: #000000;
  --primary-text-lighter-color: #333333;
  --secondary-text-color: #ffffff;
  --secondary-transperent-text-color: #ffffff4d;
  --accent-color: #81b3d2;
  --accent-color-hover: #669ec0;
  --accent-color-active: #5496bd;
  --page-background: #f2f2f2;
  --content-area-background: #ffffff;
  --secondary-background: #eeeeee;
  --button-background: #766357;
  --button-hover-background: #604e43;
  --button-active-background: #503e33;
  --html-academy-logo-color: #231f20;
  --html-academy-logo-hover-color: #81b3d2;
  --html-academy-logo-active-color: #bdbbbc;
  --input-hover-color: #ebebeb;
  --catalog-filter-background-color: #799abd;
  --sort-icon-color: #cacaca;
  --rating-text-color: #666666;
  --icon-color: #a9a9a9;
  --catalog-spliter-color: #e5e5e5;
  --footer-background: #ffffffe6;
  --range-control-background-color: #ababab;
  --page-shadow-color: #00010133;
  --find-form-shadow-color: #00010126;
  --range-control-shadow-color: #ababab4d;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--page-background);
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--primary-text-color);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.page-body {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--content-area-background);
  box-shadow: 0px 5px 15px var(--page-shadow-color);
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

/* Header */

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.main-nav {
  padding: 0 72px;
}

.nav-list {
  display: grid;
  grid-template-columns: 228px 516px 232px auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  padding: 15px 0;
}

.nav-item a {
  line-height: 26px;
  font-weight: 700;
  color: var(--primary-text-color);
}

.nav-item a:hover {
  color: var(--accent-color);
}

.nav-item a:active {
  color: var(--primary-text-color);
  opacity: 0.3;
}

.nav-item .selected {
  color: var(--button-background);
}

/* Main */

.index-grid-continer {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.welcome-block {
  grid-column: 1 / -1;
  position: relative;
  height: 509px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 452px,
    950px 476px,
    950px 452px,
    607px 508px,
    594px 508px,
    250px 452px,
    250px 476px,
    0 452px
  );
}

.welcome-block__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -51%);
}

.introduction {
  min-height: 216px;
  grid-column: 1 / -1;
  padding: 42.5px 0 51px 0;
  text-align: center;
}

.introduction__header {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 42px;
}

.introduction__paragraph {
  line-height: 26px;
  color: var(--primary-text-lighter-color);
  margin: 0;
}

.reason-accent {
  min-height: 256px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.first-reason {
  grid-column: 1 / -1;
}

.first-reason > img {
  grid-column: 2 / -1;
}

.text-block {
  padding: 47px 0 30px 0;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  width: 100%;
}

.text-block__header {
  font-size: 21px;
  margin: 0;
  margin-bottom: 25px;
}

.text-block__index {
  margin: 0;
  margin-bottom: 25px;
}

.text-block__paragraph {
  margin: 0 0 23px 0;
}

.features-list {
  grid-column: 1 / -1;
  min-height: 330px;
  list-style: none;
  margin: 0;
  text-align: center;
  padding: 60px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.features-list-item {
  width: 100%;
}

.features-list-item:last-child img {
  margin-top: -5px;
}

.features-list-item__header {
  font-size: 21px;
  font-weight: 700;
  margin: 20px 0 27px 0;
}

.features-list-item__paragraph {
  color: var(--primary-text-lighter-color);
}

.second-reason {
  grid-column: 1 / -1;
}

.second-reason img {
  grid-column: 1 / 3;
}

.reason-list {
  background-color: var(--secondary-background);
  grid-column: 1 / -1;
  min-height: 256px;
  list-style: none;
  margin: 0;
  padding: 28px 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.reason-list-item {
  width: 400px;
}

.reason-list-item__header {
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 28px;
}

.reason-list-item__index,
.reason-list-item__paragraph {
  color: var(--primary-text-lighter-color);
  margin-bottom: 22px;
}

.call-to-action {
  grid-column: 1 / -1;
  min-height: 291px;
  justify-items: center;
  display: grid;
  padding: 55px 0 0 0;
  position: relative;
}

.call-to-action__header {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 306px;
}

.call-to-action__paragraph {
  line-height: 24px;
  margin: 0;
  text-align: center;
}

.call-to-action__button {
  background-color: var(--button-background);
  font-size: 21px;
  line-height: 26px;
  color: var(--secondary-text-color);
  font-weight: 700;
  padding: 30px 0;
  width: 568px;
  align-self: end;
  border: none;
}

.call-to-action__button:hover {
  background-color: var(--button-hover-background);
}

.call-to-action__button:active {
  background-color: var(--button-active-background);
  color: var(--secondary-transperent-text-color);
}

.find-form {
  position: absolute;
  top: 291px;
  padding: 55px;
  width: 568px;
  background-color: var(--content-area-background);
  box-shadow: 0px 7px 15px var(--find-form-shadow-color);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  z-index: 1;
}

.find-form__item {
  position: relative;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  align-content: flex-start;
  margin-bottom: 29px;
}

.adults-field {
  flex-basis: 49%;
}

.children-field {
  flex-basis: 39%;
}

.find-form__item input {
  padding: 6px 0;
  text-transform: uppercase;
}

.find-form__item label {
  align-self: center;
}

.find-form__item,
.find-form__item input {
  line-height: 26px;
  font-weight: 700;
  border: none;
}

.move-in-field input,
.move-out-field input {
  width: 346px;
  padding-left: 14px;
}

.adults-field input,
.children-field input {
  width: 114px;
  text-align: center;
}

.find-form__item input {
  background-color: var(--page-background);
}

.find-form__item input:hover {
  background-color: var(--input-hover-color);
}

.find-form__item input:focus {
  background-color: var(--content-area-background);
  outline: 2px solid var(--catalog-spliter-color);
}

.find-form-calendar__button {
  fill: var(--icon-color);
  background: none;
  border: none;
  position: absolute;
  top: 7px;
  right: 3px;
}

.find-form-calendar__button:hover {
  fill: var(--primary-text-color);
}

.find-form-calendar__button:active {
  fill: var(--accent-color);
}

.find-form-calendar__button svg {
  fill: inherit;
}

.find-form-calendar__svg path {
  fill: inherit;
}

.find-form-plus__button {
  position: absolute;
  top: 12px;
  right: 8px;
}

.find-form-minus__button {
  position: absolute;
  top: 7px;
  left: 120px;
}

.children-field .find-form-minus__button {
  left: 73px;
}

.find-form-plus__button,
.find-form-minus__button {
  fill: var(--icon-color);
  background: none;
  border: none;
}

.find-form-plus__button:hover,
.find-form-minus__button:hover {
  fill: var(--primary-text-color);
}

.find-form-plus__button:active,
.find-form-minus__button:active {
  fill: var(--accent-color);
}

.find-form-plus__button svg,
.find-form-minus__button svg {
  fill: inherit;
}

.find-form-plus__button path,
.find-form-minus__button rect {
  fill: inherit;
}

.form-find__button {
  background-color: var(--accent-color);
  font-size: 21px;
  line-height: 26px;
  color: var(--secondary-text-color);
  font-weight: 700;
  padding: 16px 0;
  margin: 0;
  width: 100%;
  border: none;
  flex-grow: 0;
  margin-top: 26px;
}

.form-find__button:hover {
  background-color: var(--accent-color-hover);
}

.form-find__button:active {
  background-color: var(--accent-color-hover);
  color: var(--secondary-transperent-text-color);
}

.map {
  grid-column: 1 / -1;
  height: 594px;
}

.map img {
  max-width: 100%;
  height: 100%;
}

/* Footer */

.page-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--footer-background);
  min-height: 120px;
}

.page-footer-index {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.contacts {
  color: var(--primary-text-color);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: 73px;
  height: 100%;
}

.contacts__hashtag,
.contacts__phone {
  color: inherit;
  align-self: center;
}

.contacts__hashtag {
  margin-top: 21px;
  margin-bottom: 9px;
}

.social-links__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  place-content: center;
  align-items: center;
}

.social-links__item {
  background-color: var(--accent-color);
  width: 46px;
  height: 48px;
  margin: 0 3px;
}

.social-links-item__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links__item:hover {
  background-color: var(--accent-color-hover);
}

.social-links__item:active {
  background-color: var(--accent-color-active);
}

.social-links__item:active a {
  opacity: 0.3;
}

.made-by {
  padding-right: 73px;
  margin-top: 25px;
  margin-left: 65px;
}

.made-by__link {
  line-height: 26px;
  color: var(--primary-text-color);
  display: block;
  position: relative;
  margin-top: 21px;
}

.made-by-link__svg {
  fill: var(--html-academy-logo-color);
  /* transform: translateY(25%); */
  position: absolute;
  top: -10px;
  left: 82px;
}

.made-by-link__svg:hover {
  fill: var(--html-academy-logo-hover-color);
}

.made-by-link__svg:active {
  fill: var(--html-academy-logo-active-color);
}

.made-by-link__svg path {
  fill: inherit;
}

/* Catalog */

.catalog-grid-continer {
  display: grid;
  grid-template-rows: auto 1fr;
}

.hotel-filter-block {
  background: no-repeat center url("../img/catalog/catalog-background.jpg");
  background-color: var(--catalog-filter-background-color);
  padding: 26.5px 73px 31px 72px;
  min-height: 217px;
}

.hotel-form {
  display: grid;
  grid-template-columns: 255px 274px 1fr;
  grid-template-rows: 1fr auto;
}

.hotel-form__fieldset {
  color: var(--secondary-text-color);
  grid-row: 1 / 4;
  margin: 0;
  padding: 0;
  border: none;
}

.hotel-form__fieldset:last-of-type {
  grid-row: 1 / 2;
  justify-self: end;
  /* align-self: end; */
}

.hotel-form__fieldset legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.hotel-form__fieldset input[id*="price"] {
  background-color: transparent;
  color: var(--secondary-text-color);
}

.hotel-form__list {
  list-style: none;
  margin: 24px 0 0 0;
  padding: 0;
}

.hotel_form__item {
  margin: 0px 0px 25px 40px;
  position: relative;
}

.hotel_form__item:last-child {
  margin-bottom: 0;
}

.hotel-form-input-checkbox + label {
  cursor: pointer;
}

.hotel-form-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/inputs/checkbox.svg");
  background-repeat: no-repeat;
}

.hotel-form-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/inputs/checkbox-checked.svg");
  background-repeat: no-repeat;
}

.hotel-form-input-checkbox:checked:disabled + label::before {
  background-image: url("../img/inputs/checkbox-checked-disabled.svg");
}

.hotel-form-input-checkbox:disabled + label::before {
  background-image: url("../img/inputs/checkbox-disabled.svg");
}

.hotel-form__submit-button {
  background-color: transparent;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  width: 137px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  justify-self: end;
  margin-right: 95px;
  padding: 7px 35px 8px 35px;
}

.hotel-form__submit-button:hover {
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  text-transform: uppercase;
}

.search-result-sort {
  border-bottom: 1px solid var(--catalog-spliter-color);
  padding: 10px 73px 10px 73px;
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  grid-template-rows: 1fr;
}

.search-result-sort button {
  background: none;
  border: none;
  height: fit-content;
  align-self: center;
}

.search-result-sort__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.search-result-sort__list button:hover {
  border: none;
  color: var(--accent-color);
  border-bottom: 1px dashed var(--accent-color);
  opacity: 1;
}

.search-result-sort__list button:active {
  border: none;
  color: var(--primary-text-color);
  opacity: 1;
}

.search-result-sort__item {
  padding-right: 32px;
  margin-top: 20px;
}

.search-result-sort__item button {
  opacity: 0.3;
  padding: 0;
  border-bottom: 1px dashed var(--accent-color);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
}

.search-results-button__active button {
  color: var(--accent-color);
  border: none;
  opacity: 1;
}

.search-result-sort__header {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 19px 0 21px 0;
}

.search-result-sort__paragraph {
  font-size: 12px;
  line-height: 18px;
  padding-left: 47px;
  padding-right: 41px;
  margin-top: 21px;
}

.search-result-sort__button {
  padding: 0;
  margin-left: 12px;
  cursor: pointer;
}

.search-result-sort__button:last-child {
  transform: rotateX(180deg);
}

.search-result-sort__selected .search-result-sort__svg {
  fill: var(--accent-color);
}

.search-result-sort__svg {
  fill: var(--sort-icon-color);
}

.search-result-sort__svg:hover {
  fill: var(--primary-text-color);
}

.search-result-sort__svg:active {
  fill: var(--accent-color);
}

.search-result-sort__svg path {
  fill: inherit;
}

.hotels__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels-list__item {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: repeat(3, 1fr);
  padding: 30px 73px 30px 73px;
  min-height: 150px;
  border-bottom: 1px solid var(--catalog-spliter-color);
}

.hotels-list__item > img {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  height: 90px;
  margin-right: 29px;
  align-self: center;
}

.hotel__header {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  margin: 0;
  align-self: start;
  width: max-content;
  color: var(--primary-text-color);
  margin-top: -6px;
  max-width: 100%;
}

.hotel__header:hover {
  color: var(--accent-color);
}

.hotel__header:active {
  color: var(--primary-text-color);
  opacity: 0.3;
}

.hotte__type,
.hotte__price {
  color: var(--primary-text-lighter-color);
  margin: 0;
}

.hotte__type {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  /* margin-right: 6px;
  align-self: start; */
  line-height: 14px;
}

.hotte__price {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  /* margin: 0;
  align-self: start; */
  line-height: 14px;
}

.hottel__details-link {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  font-weight: 700;
  line-height: 21px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding: 3px 16px 3px 17px;
  margin-right: 6px;
  align-self: end;
}

.hottel__details-link:hover {
  background-color: var(--accent-color-hover);
}

.hottel__details-link:active {
  background-color: var(--accent-color-active);
  color: var(--secondary-transperent-text-color);
}

.hotel__book-button {
  background-color: var(--button-background);
  color: var(--secondary-text-color);
  font-weight: 700;
  line-height: 21px;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  padding: 3px 17px;
  border: none;
  align-self: end;
  justify-self: start;
  cursor: pointer;
}

.hotel__book-button:hover {
  background: var(--button-hover-background);
}

.hotel__book-button:active {
  background: var(--button-active-background);
  color: var(--secondary-transperent-text-color);
}

.hotel-rating {
  grid-column: 4 / 5;
  grid-row: 1 / 4;
  justify-self: end;
  text-align: end;
  align-self: start;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-rating__image-container img {
  width: 19px;
  margin: 0;
}

.hotel-rating p {
  align-self: end;
  background-color: var(--page-background);
  color: var(--rating-text-color);
  margin: 0;
  padding: 3px 12px 3px 15px;
}

.price-control {
  margin-top: 10.5px;
  border: 2px solid var(--content-area-background);
  border-radius: 2px;
  display: flex;
  justify-content: center;
}

.price-control .spacer {
  width: 2px;
  height: 22px;
  background: var(--content-area-background);
  align-self: center;
}

.price-control label {
  width: 100%;
  text-align: end;
  padding: 5px 0px 6px 0px;
}

.price-control input {
  border: none;
  padding-right: 14px;
}

.price-control input[id="price_max"] {
  padding-right: 22px;
}

.range-control {
  height: 35px;
  margin-top: 20px;
  position: relative;
}

.range-control .scale {
  height: 2px;
  width: 316px;
  background: var(--secondary-transperent-text-color);
}

.range-control .bar {
  width: 251px;
  background: var(--secondary-text-color);
  height: 2px;
}

.range-control .toggle {
  position: absolute;
  top: -10px;
  left: 0;
  box-sizing: content-box;
  width: 4px;
  height: 4px;
  background-color: var(--range-control-background-color);
  border: 8px solid var(--secondary-text-color);
  border-radius: 50%;
  box-shadow: 0px 2px 0px var(--range-control-shadow-color);
  cursor: pointer;
}

.range-control .toggle-min {
  left: 0px;
}

.range-control .toggle-max {
  left: 251px;
}

.range-control .toggle:hover,
.range-control .toggle:active {
  width: 5px;
  height: 5px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
