@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --primary-text-color: #000000;
  --primary-text-lighter-color: #333333;
  --secondary-text-color: #ffffff;
  --secondary-transperent-text-color: #ffffff4d;
  --accent-color: #81b3d2;
  --accent-color-hover: #669ec0;
  --accent-color-active: #5496bd;
  --page-background: #f2f2f2;
  --content-area-background: #ffffff;
  --secondary-background: #eeeeee;
  --button-background: #766357;
  --button-hover-background: #604e43;
  --button-active-background: #503e33;
  --html-academy-logo-color: #231f20;
  --html-academy-logo-hover-color: #81b3d2;
  --html-academy-logo-active-color: #bdbbbc;
  --input-hover-color: #ebebeb;
  --catalog-filter-background-color: #799abd;
  --sort-icon-color: #cacaca;
  --rating-text-color: #666666;
  --icon-color: #a9a9a9;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--page-background);
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--primary-text-color);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.page-body {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--content-area-background);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* Header */

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.main-nav {
  padding: 0 72px;
}

.nav-list {
  display: grid;
  grid-template-columns: 228px 516px 232px auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  padding: 15px 0;
}

.nav-item a {
  line-height: 26px;
  font-weight: 700;
  color: var(--primary-text-color);
}

.nav-item a:hover {
  color: var(--accent-color);
}

.nav-item a:active {
  color: var(--primary-text-color);
  opacity: 0.3;
}

.nav-item .selected {
  color: var(--button-background);
}

/* Main */

.index-grid-continer {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.welcome-block {
  grid-column: 1 / -1;
  position: relative;
  height: 509px;
}

.welcome-block__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -51%);
}

.introduction {
  min-height: 216px;
  grid-column: 1 / -1;
  padding: 42.5px 0 51px 0;
  text-align: center;
}

.introduction__header {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 42px;
}

.introduction__paragraph {
  line-height: 26px;
  color: var(--primary-text-lighter-color);
  margin: 0;
}

.reason-accent {
  min-height: 256px;
}

.first-reason {
  grid-column: 1 / -1;
}

.text-block {
  padding: 47px 0 54px 0;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  width: 100%;
}

.text-block__header {
  font-size: 21px;
  margin: 0;
  margin-bottom: 25px;
}

.text-block__index {
  margin: 0;
  margin-bottom: 23px;
}

.text-block__paragraph{
  margin: 0 0 23px 0;
}

.features-list {
  grid-column: 1 / -1;
  min-height: 330px;
  list-style: none;
  margin: 0;
  padding: 60px 0 82px 0;
}

.features-list-item {
  width: 100%;
}

.features-list-item__header {
  font-size: 21px;
  font-weight: 700;
}

.features-list-item__paragraph {
  color: var(--primary-text-lighter-color);
}

.second-reason {
  grid-column: 1 / -1;
}

.reason-list {
  background-color: var(--secondary-background);
  grid-column: 1 / -1;
  min-height: 256px;
  list-style: none;
  margin: 0;
  padding: 47px 0 54px 0;
}

.reason-list-item {
  width: 400px;
}

.reason-list-item__header {
  font-size: 21px;
  line-height: 21px;
}

.reason-list-item__index,
.reason-list-item__paragraph {
  color: var(--primary-text-lighter-color);
}

.call-to-action {
  grid-column: 1 / -1;
  min-height: 291px;
  justify-items: center;
  display: grid;
  padding: 55px 0 0 0;
  position: relative;
}

.call-to-action__header {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 306px;
}

.call-to-action__paragraph {
  line-height: 24px;
  margin: 0;
  text-align: center;
}

.call-to-action__button {
  background-color: var(--button-background);
  font-size: 21px;
  line-height: 26px;
  color: var(--secondary-text-color);
  font-weight: 700;
  padding: 30px 0;
  width: 568px;
  align-self: end;
  border: none;
}

.call-to-action__button:hover {
  background-color: var(--button-hover-background);
}

.call-to-action__button:active {
  background-color: var(--button-active-background);
  color: var(--secondary-transperent-text-color);
}

.find-form {
  display: grid;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  grid-template-areas:
  padding: 55px;
  width: 568px;
  height: 395px;
  background-color: var(--content-area-background);
  outline: 5px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr) auto;
  justify-items: end;
}

.move-in-field {
  grid-area: move-in;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
 }

.move-out-field {
  grid-area: move-out;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.adults-field {
  grid-area: adults;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.children-field {
  grid-area: children;
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.move-in-field input,
.move-out-field input {
  width: 346px;
}

.adults-field input,
.children-field input {
  width: 114px;
}

.find-form input {
.find-form__item {
  display: flex;
  align-items: center;
  place-self: baseline;
  justify-self: end;
}

.find-form__item input {
  padding: 6px 0;
}

.find-form__item,
.find-form__item input {
  line-height: 26px;
  font-weight: 700;
}

.find-form__item input {
  background-color: var(--page-background);
}

.find-form__item input:hover {
  background-color: var(--input-hover-color);
}

.find-form__item input:focus {
  background-color: var(--content-area-background);
}

.find-form-calendar__button {
  fill: var(--icon-color);
  background: none;
  border: none;
}

.find-form-calendar__button:hover {
  fill: var(--primary-text-color);
}

.find-form-calendar__button:active {
  fill: var(--accent-color);
}

.find-form-calendar__button svg {
  fill: inherit;
}

.find-form-calendar__svg path {
  fill: inherit;
}

.find-form-plus__button,
.find-form-minus__button {
  fill: var(--icon-color);
  background: none;
  border: none;
}

.find-form-plus__button:hover,
.find-form-minus__button:hover {
  fill: var(--primary-text-color);
}

.find-form-plus__button:active,
.find-form-minus__button:active {
  fill: var(--accent-color);
}

.find-form-plus__button svg,
.find-form-minus__button svg {
  fill: inherit;
}

.find-form-plus__button path,
.find-form-minus__button rect {
  fill: inherit;
}

.form-find__button {
  background-color: var(--accent-color);
  font-size: 21px;
  line-height: 26px;
  color: var(--secondary-text-color);
  font-weight: 700;
  padding: 0;
  padding: 16px 0;
  margin: 0;
  grid-row: 4 / 5;
  width: 100%;
  border: none;
}

.form-find__button:hover {
  background-color: var(--accent-color-hover);
}

.form-find__button:active {
  background-color: var(--accent-color-hover);
  color: var(--secondary-transperent-text-color);
}

.map {
  grid-column: 1 / -1;
  height: 594px;
}

/* Footer */

.page-footer {
  display: grid;
  grid-template-rows: 120px;
  grid-template-columns: repeat(3, 1fr);
}

.contacts {
  color: var(--primary-text-color);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.contacts__hashtag,
.contacts__phone {
  color: inherit;
}

.contacts__hashtag {
  margin-bottom: 9px;
}

.social-links__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 36px;
}

.social-links__item {
  background-color: var(--accent-color);
  width: 46px;
  height: 48px;
  margin: 0 3px;
}

.social-links-item__link {
  width: 100%;
  height: 100%;
}

.social-links__item:hover {
  background-color: var(--accent-color-hover);
}

.social-links__item:active {
  background-color: var(--accent-color-active);
}

.social-links__item:active a {
  opacity: 0.3;
}

.made-by {
  padding-right: 73px;
}

.made-by__link {
  line-height: 26px;
  color: var(--primary-text-color);
}

.made-by-link__svg {
  fill: var(--html-academy-logo-color);
}

.made-by-link__svg:hover {
  fill: var(--html-academy-logo-hover-color);
}

.made-by-link__svg:active {
  fill: var(--html-academy-logo-active-color);
}

.made-by-link__svg path {
  fill: inherit;
}

/* Catalog */

.hotel-filter-block {
  background: no-repeat center url("../img/catalog/catalog-background.jpg");
  background-color: var(--catalog-filter-background-color);
}

.hotel-form__fieldset {
  color: var(--secondary-text-color);
}

.hotel-form__fieldset legend {
  font-weight: 700;
}

.hotel-form__fieldset input[id*="price"] {
  background-color: transparent;
  color: var(--secondary-text-color);
}

.hotel-form__submit-button {
  background-color: transparent;
  color: var(--secondary-text-color);
  text-transform: uppercase;
}

.hotel-form__submit-button:hover {
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  text-transform: uppercase;
}

.search-result-sort button {
  background: none;
  border: none;
}

.search-result-sort__list button:hover {
  border: none;
  color: var(--accent-color);
  border-bottom: 1px dashed var(--accent-color);
  opacity: 1;
}

.search-result-sort__list button:active {
  border: none;
  color: var(--primary-text-color);
  opacity: 1;
}

.search-result-sort__item button {
  opacity: 0.3;
}

.search-results-button__active {
  color: var(--accent-color);
  border: none;
  opacity: 1;
}

.search-result-sort__header {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.search-result-sort__paragraph {
  font-size: 12px;
  line-height: 18px;
}

.search-result-sort__button:last-child {
  transform: rotateX(180deg);
}

.search-result-sort__selected .search-result-sort__svg {
  fill: var(--accent-color);
}

.search-result-sort__svg {
  fill: var(--sort-icon-color);
}

.search-result-sort__svg:hover {
  fill: var(--primary-text-color);
}

.search-result-sort__svg:active {
  fill: var(--accent-color);
}

.search-result-sort__svg path {
  fill: inherit;
}

.hotel__header {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel__header:hover {
  color: var(--accent-color);
}

.hotel__header:active {
  color: var(--primary-text-color);
  opacity: 0.3;
}

.hotte__type,
.hotte__price {
  color: var(--primary-text-lighter-color);
}

.hottel__details-link {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  font-weight: 700;
  line-height: 21px;
}

.hottel__details-link:hover {
  background-color: var(--accent-color-hover);
}

.hottel__details-link:active {
  background-color: var(--accent-color-active);
  color: var(--secondary-transperent-text-color);
}

.hotel__book-button {
  background-color: var(--button-background);
  color: var(--secondary-text-color);
  font-weight: 700;
  line-height: 21px;
}

.hotel__book-button:hover {
  background: var(--button-hover-background);
}

.hotel__book-button:active {
  background: var(--button-active-background);
  color: var(--secondary-transperent-text-color);
}

.hotel__rating p {
  background-color: var(--page-background);
  color: var(--rating-text-color);
}
